body {
    margin: 0;
    font-family: 'Arial', sans-serif;
    background-color: #f5f5f5; 
    color: #333; 
  }
  
  .student-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px;
    background-color: #f5f5f5; /* Svijetlo siva pozadina */
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1); /* Blagi sjaj */
    border-radius: 8px;
  }
  
  .student-title {
    font-size: 2rem;
    font-weight: bold;
    color: #003366; /* Tamnoplavi naslov */
    margin-bottom: 20px;
  }
  
  /* QR sekcija */
  .qr-container {
    text-align: center;
    margin-bottom: 20px;
  }
  
  .qr-description {
    margin-top: 10px;
    font-size: 1rem;
    color: #555; 
  }
  
  #qr-code {
    margin: 10px 0;
    border: 5px solid #000000; 
    padding: 5px;
    border-radius: 10px;
  }
  
  .mark-attendance-button {
    padding: 10px 20px;
    font-size: 1rem;
    color: #ffffff; 
    background-color: #007bff; 
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .mark-attendance-button:hover {
    background-color: #0056b3; 
  }
  
  .mark-attendance-button:disabled {
    background-color: #cccccc; 
    cursor: not-allowed;
  }
  
  .mark-attendance-button.marked {
    background-color: #28a745; /* Zelena boja za potvrdu prisutnosti */
  }
  